.navbar {
    width: 100%;
    background-color: #f8f9fa; /* Light background color */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    margin-right: 10px;
  }
  
  .logo p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Text color */
  }
  
  .nav-content {
    display: flex;
    gap: 20px; /* Spacing between the nav items */
  }
  
  .nav-content p {
    margin: 0;
    font-size: 1rem;
    color: black; /* Button text color */
    cursor: pointer;
  }
  
  .nav-content h1:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  
  