.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .featuredevents, .city {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .featuredevents p, .city p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .card {
    background-color:white;
 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(27, 1, 1, 0.275);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
    width: 150px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .featuredevents, .city {
      flex-direction: column;
      align-items: center;
    }
  }
  
 




